/*
 * Copyright (c) 2020 The ZMK Contributors
 *
 * SPDX-License-Identifier: MIT
 */

#include <behaviors.dtsi>
#include <dt-bindings/zmk/keys.h>
#include <dt-bindings/zmk/bt.h>
#include <dt-bindings/zmk/rgb.h>
#include <dt-bindings/zmk/pointing.h>
#include <dt-bindings/zmk/ext_power.h>
#include <dt-bindings/zmk/outputs.h>

/ {
    chosen {
        zmk,physical-layout = &default_layout;
    };
};

/ {
    behaviors {
        u_mt: u_mt {
          compatible = "zmk,behavior-hold-tap";
          #binding-cells = <2>;
          tapping-term-ms = <200>;
          flavor = "tap-preferred";
          bindings = <&kp>, <&kp>;
        };
        u_lt: u_lt {
          compatible = "zmk,behavior-hold-tap";
          #binding-cells = <2>;
          tapping-term-ms = <200>;
          flavor = "tap-preferred";
          bindings = <&mo>, <&kp>;
        };

        /* Brillo: sin shift = sube, con shift = baja */
        rgb_bri: rgb_brightness {
            compatible = "zmk,behavior-mod-morph";
            #binding-cells = <0>;
            bindings = <&rgb_ug RGB_BRI>, <&rgb_ug RGB_BRD>;
            mods = <(MOD_LSFT|MOD_RSFT)>;
        };

        /* Hue: sin shift = sube, con shift = baja */
        rgb_hui: rgb_hue {
            compatible = "zmk,behavior-mod-morph";
            #binding-cells = <0>;
            bindings = <&rgb_ug RGB_HUI>, <&rgb_ug RGB_HUD>;
            mods = <(MOD_LSFT|MOD_RSFT)>;
        };

        /* Saturación: sin shift = sube, con shift = baja */
        rgb_sai: rgb_saturation {
            compatible = "zmk,behavior-mod-morph";
            #binding-cells = <0>;
            bindings = <&rgb_ug RGB_SAI>, <&rgb_ug RGB_SAD>;
            mods = <(MOD_LSFT|MOD_RSFT)>;
        };

        /* Velocidad: sin shift = sube, con shift = baja */
        rgb_spi: rgb_speed {
            compatible = "zmk,behavior-mod-morph";
            #binding-cells = <0>;
            bindings = <&rgb_ug RGB_SPI>, <&rgb_ug RGB_SPD>;
            mods = <(MOD_LSFT|MOD_RSFT)>;
        };

        /* Efecto: sin shift = siguiente, con shift = anterior */
        rgb_efd: rgb_effect {
            compatible = "zmk,behavior-mod-morph";
            #binding-cells = <0>;
            bindings = <&rgb_ug RGB_EFF>, <&rgb_ug RGB_EFR>;
            mods = <(MOD_LSFT|MOD_RSFT)>;
        };
    };
};

/ {
    keymap {
        compatible = "zmk,keymap";

        default_layer {
            display-name = "QWERTY";
            // --------------------------------------------------------------------------------
            // |  TAB |  Q  |  W  |  E  |  R  |  T  |  Y  |  U   |  I  |  O  |  P  | BSPC |
            // | CTRL |  A  |  S  |  D  |  F  |  G  |  H  |  J   |  K  |  L  |  ;  |  '   |
            // | SHFT |  Z  |  X  |  C  |  V  |  B  |  N  |  M   |  ,  |  .  |  /  | ESC  |
            //                    | GUI | LWR | SPC | ENT | RSE  | ALT |
            bindings = <
                &none &kp        Q &kp        W &kp         E &kp         R &kp T         &kp Y        &kp         U &kp         I     &kp        O   &kp        P    &none
                &none &u_mt LGUI A &u_mt LALT S &u_mt LSHFT D &u_mt LCTRL F &kp G         &kp H        &u_mt LCTRL J &u_mt LSHFT K     &u_mt LALT L   &u_mt LGUI SQT  &none
                &none &kp        Z &kp        X &kp         C &u_mt RALT  V &bt_clear         &bt_clear        &u_mt RALT  M &kp         COMMA &kp        DOT &kp        FSLH &none
                                                &u_lt 3 ESC &u_lt 1 SPACE   &u_lt 2 TAB   &u_lt 5 RET  &u_lt 4 BSPC  &u_lt 6 DEL
            >;
        };

        nav_layer {
            display-name = "NAV";
            // -----------------------------------------------------------------------------------------
            // |  TAB |  1  |  2  |  3  |  4  |  5    |  6  |  7  |  8  |  9  |  0  | BSPC |
            // | CTRL | BT1 | BT2 | BT3 | BT4 | BT5   | LFT | DWN |  UP | RGT |     |      |
            // | SHFT | BTCR| RGB | RST | BOOT| Unlock|     |     |     |     |     |      |
            //                    | GUI |     | SPC   | ENT |     | ALT |
            bindings = <
                &none &none    &none    &none     &none       &none          &kp K_PASTE   &kp K_COPY &kp K_CUT &kp K_UNDO    &kp K_REDO &none
                &none &kp LGUI &kp LALT &kp LSHFT &kp LCTRL   &none          &kp LEFT      &kp DOWN   &kp UP    &kp RIGHT     &caps_word &none
                &none &none    &none    &none     &bootloader &studio_unlock &kp HOME      &kp PG_DN  &kp PG_UP &kp END       &kp INS    &none
                                        &none     &none       &none          &kp RET       &kp BSPC     &kp DEL
            >;
        };

        mouse_layer {
            display-name = "MOUSE";
            // -----------------------------------------------------------------------------------------
            // |  TAB |  !  |  @  |  #  |  $  |  %  |  ^  |  &  |  *  |  (  |  )  | BSPC |
            // | CTRL | HUD | HUI |     |     |     |  -  |  =  |  [  |  ]  |  \  |  `   |
            // | SHFT |     |     |     |     |     |  _  |  +  |  {  |  }  | "|" |  ~   |
            //                    | GUI |     | SPC | ENT |     | ALT |
            bindings = <
                &none &none    &none    &none     &none       &none          &kp  K_PASTE    &kp  K_COPY     &kp  K_CUT    &kp  K_UNDO      &kp K_REDO   &none
                &none &kp LGUI &kp LALT &kp LSHFT &kp LCTRL   &none          &mmv MOVE_LEFT  &mmv MOVE_DOWN  &mmv MOVE_UP  &mmv MOVE_RIGHT  &none        &none
                &none &none    &none    &none     &bootloader &studio_unlock &msc SCRL_LEFT  &msc SCRL_DOWN  &msc SCRL_UP  &msc SCRL_RIGHT  &none        &none
                                        &none     &none       &none          &mkp RCLK       &mkp LCLK       &mkp MCLK
            >;
        };

        media_layer {
            display-name = "MEDIA";
            bindings = <
                &none &none    &none    &none     &none       &none          &rgb_efd     &rgb_hui     &rgb_sai     &rgb_bri     &rgb_ug RGB_TOG   &none
                &none &kp LGUI &kp LALT &kp LSHFT &kp LCTRL   &none          &kp C_PREV   &kp C_VOL_DN &kp C_VOL_UP &kp C_NEXT   &ext_power EP_TOG &none
                &none &none    &none    &none     &bootloader &studio_unlock &bt BT_SEL 0 &bt BT_SEL 1 &bt BT_SEL 2 &bt BT_SEL 3 &out OUT_TOG      &none
                                        &none     &none       &none          &kp C_STOP   &kp C_PP     &kp C_MUTE
            >;
        };

        num_layer {
            display-name = "NUM";
            bindings = <
                &none &kp LBKT  &kp N7 &kp N8  &kp N9 &kp RBKT   &none &none     &none     &none    &none    &none
                &none &kp SEMI  &kp N4 &kp N5  &kp N6 &kp EQUAL  &none &kp LCTRL &kp LSHFT &kp LALT &kp LGUI &none
                &none &kp GRAVE &kp N1 &kp N2  &kp N3 &kp BSLH   &none &none     &none     &none    &none    &none
                                       &kp DOT &kp N0 &kp MINUS  &none &none     &none
            >;
        };

        sym_layer {
            display-name = "SYM";
            bindings = <
                &none &kp LBRC  &kp AMPS &kp ASTRK &kp LPAR  &kp RBRC   &none &none     &none     &none    &none    &none
                &none &kp COLON &kp DLLR &kp PRCNT &kp CARET &kp PLUS   &none &kp LCTRL &kp LSHFT &kp LALT &kp LGUI &none
                &none &kp TILDE &kp EXCL &kp AT    &kp HASH  &kp PIPE   &none &none     &none     &none    &none    &none
                                         &kp LPAR  &kp RPAR  &kp UNDER  &none &none     &none
            >;
        };

        fun_layer {
            display-name = "FUN";
            bindings = <
                &none &kp F12 &kp F7 &kp F8    &kp F9    &kp PSCRN        &none &none     &none     &none    &none    &none
                &none &kp F11 &kp F4 &kp F5    &kp F6    &kp SLCK         &none &kp LCTRL &kp LSHFT &kp LALT &kp LGUI &none
                &none &kp F10 &kp F1 &kp F2    &kp F3    &kp PAUSE_BREAK  &none &none     &none     &none    &none    &none
                                     &kp K_APP &kp SPACE &kp TAB          &none &none     &none
            >;
        };

        extra_layer_5 {
            display-name = "EXTRA 5";
            bindings = <
                &trans &trans &trans &trans &trans &trans  &trans &trans &trans &trans &trans &trans
                &trans &trans &trans &trans &trans &trans  &trans &trans &trans &trans &trans &trans
                &trans &trans &trans &trans &trans &trans  &trans &trans &trans &trans &trans &trans
                                     &trans &trans &trans  &trans &trans &trans       
            >;
        };

        extra_layer_6 {
            display-name = "EXTRA 6";
            bindings = <
                &trans &trans &trans &trans &trans &trans  &trans &trans &trans &trans &trans &trans
                &trans &trans &trans &trans &trans &trans  &trans &trans &trans &trans &trans &trans
                &trans &trans &trans &trans &trans &trans  &trans &trans &trans &trans &trans &trans
                                     &trans &trans &trans  &trans &trans &trans       
            >;
        };
    };
};
